<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new author</title>
</head>
<body>
    <form method="post" action="/addAuthor">
        <input type="text" name="name" placeholder="Enter name" onfocus="this.value = ''">
        <input type="text" name="birthyear" placeholder="Enter birthyear" onfocus="this.value = ''">
        <input type="text" name="deathyear" placeholder="Enter year of death" onfocus="this.value = ''">
        <input type="text" name="contry" placeholder="Enter contry" onfocus="this.value = ''">
        <input type="text" name="language" placeholder="Enter language" onfocus="this.value = ''">
        <input type="text" name="bio" placeholder="Enter bio" onfocus="this.value = ''">    
        <input type="submit" value="Add author">
    </form>
</body>
</html>