<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>MNM - Books</title>
        <link rel="stylesheet" href="side.css"/>
    </head>
    <body>
        <header>
            <h1>MNM's Site</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/book">Book</a></li>
                    <li><a href="/author">Author</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <p>
                Our regular modern fashioned frontend static front page.
            </p>
        </main>
        <footer>
            <p>
                &copy; MNMWEB
            </p>
        </footer>
    </body>
</html>
